* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    outline: none;
}
li{
    list-style: none;
}
.section {
    padding: 48px 16px;
    background-color: #e8e8e8;
    max-width: 100%;
    overflow-x: hidden;
}
.section__label {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.box {
    padding: 32px 16px;
    background-color: #f7f7f7;
}
.box__title {
    color: #212121;
    font-size: 28px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    min-width: 280px;
    border: 2px solid #000;
    margin: 8px;
    flex: 1;
}
@media screen and (max-width: 767px) {
    .section--slider-mobile .row {
        display: block;
    }
    .col{
        width: calc(100% - 16px) !important;
        margin: 0 8px;
    }
}